.row
  .small-24.columns
    %h3
      Musicians

    %table#musicians_table.serverside_datatables{'data-source' => musicians_path}
      %thead
        %tr
          %th
            Name
          %th.datatable_no_search
            Birthdate
          %th
            Country
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order

      %tbody
      /  - @musicians.each do |musician|
      /    %tr
      /      %td= musician.name
      /      %td= musician.birthdate
      /      %td= musician.country
      /      %td= link_to 'Show', musician
      /      %td= link_to 'Edit', edit_musician_path(musician)
      /      %td= link_to 'Destroy', musician, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Musician', new_musician_path

