.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @user.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('cancel'), @user, :class => 'button'
    = link_to t('delete'), @user, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

