.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @musician_label.name)

.row
  .small-24.columns
    = @musician_label.name

%br
.row
  .small-24.columns
    = link_to t('edit'), edit_musician_label_path(@musician_label), :class => 'button'
    = link_to t('delete'), @musician_label, :method => :delete, :data => {:confirm => t('are_you_sure')}, :class => 'button'

