.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @album.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to 'Show', @album
    = link_to 'Back', albums_path

