.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @album.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('show'), @album
    = link_to t('back'), albums_path

