.row
  .small-24.columns
    %h3
      Albums

    %table#albums_table.serverside_datatables{'data-source' => albums_path}
      %thead
        %tr
          %th
            Name
          %th.datatable_no_search
            Album type
          %th.datatable_no_search
            Date
          %th.datatable_no_search
            End date
          /%th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order
          %th.datatable_no_search.datatable_no_order

      %tbody
      /  - @albums.each do |album|
      /    %tr
      /      %td= album.name
      /      %td= album.album_type
      /      %td= album.date
      /      %td= album.end_date
      /      %td= link_to 'Show', album
      /      %td= link_to 'Edit', edit_album_path(album)
      /      %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Album', new_album_path

