.row
  .small-24.columns.page_top
    = t('generic.new_model', :name => AlbumTrack.model_name.human)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('cancel'), album_tracks_path, :class => 'button'

