.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @band.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to 'Show', @band
    = link_to 'Back', bands_path

