.row
  .small-24.columns.page_top
    = t('generic.editing', :name => @band.name)

.row
  .small-24.columns
    = render 'form'

.row
  .small-24.columns
    = link_to t('show'), @band, :class => 'button'
    = link_to t('back'), bands_path, :class => 'button'

